d2x.medizerva.com {
#    import authlist.conf
    root /var/www/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    cors
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    tls wwarodom@gmail.com
}

http://d2x.medizerva.com {
    redir https://d2x.medizerva.com{uri}
}

d2xapi.medizerva.com {
    proxy /  http://d2x.medizerva.com:5000/
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
}
